.panel {
  background-color: #262626;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 1.3em;
  border: 0;
  max-width: 800px;
  margin: 0 auto;
  margin-top: 30px;
}

.panel-heading {
    background-color: #262626;
    color: orange;
    border-color: #666;
}

.panel-title {
  font-size: 1.5em;
  font-family: 'Roboto', sans-serif;
  padding: 5px;
}

.form-control {
  font-size: 0.9em;
  height: 38px;
  font-weight: bold;
}

.topic-option {
  width: 300px;
  margin-bottom: 5px;
}

.output {
  color: white;
}

.option-badge {
  margin: 0 3px 15px 3px;
  padding: 4px 10px 4px 10px;
  background-color: #363636;
  border-radius: 8px;
  font-size: 0.9em;
}

.error-message {
  margin-top: 10px;
}

.control-button {
  margin-top: 30px;
  font-size: 1.0em;
  margin-right: 5px;
}

