
.topic-option {
  width: 300px;
  margin-bottom: 5px;
}

.output {
  color: white;
}

.option-badge {
  margin: 0 3px 15px 3px;
  padding: 5px 10px 5px 10px;
  background-color: #DDD;
  border-radius: 8px;
}

.option-button {
  margin-top: 10px;
}
