.login-form {
  max-width: 400px;
  margin: 0 auto;
  margin-top: 100px;
}

.panel {
  background-color: #262626;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 1.3em;
  border: 0;
}

.panel-heading {
    background-color: #262626;
    color: orange;
    border-color: #666;
}

.panel-title {
  font-size: 1.5em;
  font-family: 'Roboto', sans-serif;
  padding: 5px;
}

.form-control {
  font-size: 0.9em;
  height: 38px;
  font-weight: bold;
}

.control-label {
  font-weight: 500;
}

.control-button {
  margin-top: 10px;
  font-size: 1.0em;
}
