<section
  class="about-wrapper"
  [@showPage]="'on'">

    <div class="panel v-panel">
      <div class="panel-heading">
        <h1 class="panel-title">About Votogo</h1>
      </div>
      <div class="panel-body">
        <p>VOTOGO is a voting app which allows users to create, share and view the results of surveys,
          and vote on other people's topics. It was created as a
          <a href="https://www.freecodecamp.com/challenges/build-a-voting-app" target="_blank">Free Code Camp</a>
          project.
        </p>
        <p>This application was built using the MEAN Stack:</p>
        <ul>
          <li>The front end is an Angular 4 / Typescript project created with the excellent Angular-CLI.</li>
          <li>The back end uses Node v.6.9.2 and Express.</li>
          <li>Data is hosted in the cloud at MLab, using MongoDB and Mongoose.</li>
          <li>The authentication module uses Bcrypt.js for password encryption and JSON Web Tokens for maintaining secure sessions.</li>
          <li>UI components are based on Bootstrap and animated with the Angular animations module.</li>
          <li>The doughnut chart was created using Chart.js.</li>
        </ul>
        <p>The complete project repo can be viewed at <a href="https://github.com/ARWL2016/voting-app" target="_blank">Github</a>.</p>
        <p><b>Alistair Willis</b></p>
      </div>
    </div>
</section>
