.panel-heading {
    background-color: #262626;
    color: orange;
    border-color: #666;
}

.panel-title {
  font-size: 1.5em;
  font-family: 'Roboto', sans-serif;
  padding: 5px;
}

.panel {
  background-color: #262626;
  color: white;
  font-family: 'Roboto';
  font-size: 1.3em;
  border: 0;
  line-height: 32px;
  margin-top: 30px;
}
