<form #form="ngForm" (submit)="submitForm(form)" novalidate [@showPage]="'on'">

  <div class="panel panel-default login-form">
    <div class="panel-heading">
      <h3 class="panel-title">Register</h3>
    </div>

    <div class="panel-body">

        <div class="form-group">
          <label class="control-label">Enter your unique username</label>
          <input
            [(ngModel)]="username"
            class="form-control"
            name="username"
            placeholder="username"
            type="text">
        </div>

        <div class="form-group">
          <label class="control-label">Password</label>
          <input
            [(ngModel)]="password"
            class="form-control"
            name="password"
            placeholder="minimum 3 characters"
            type="password">
        </div>

        <div class="form-group">
          <label class="control-label">Confirm password</label>
          <input
            [(ngModel)]="passwordConfirmation"
            class="form-control"
            name="password"
            placeholder=""
            type="password">
        </div>
        <div class="error">{{error}}</div>

        <button type="submit" class="btn btn-primary control-button">Register</button>



    </div>
  </div>

</form>
