
.topic-wrapper {
  max-width: 960px;
  // margin: 0 auto;
  margin-top: 10px;
}

.button-wrapper {
  float: left;
  width: 200px;
}

.data-wrapper {
  float: left;
  width: 500px;
}

.vote-wrapper {
  float: left;
  width: 200px;
  margin-left:30px;
}

.control-button {
  margin-bottom: 12px;
  padding: 10px 20px 10px 20px;
  width: 150px;
}

.voting-button {
  // margin: 5px;
  // display: block;
  padding: 15px 15px 15px 15px;
}

.cell {
  padding: 10px 20px 10px 20px;
  border-width: 0px;
  font-size: 0.9em;
  text-align: left;
}

.cell-result {
  padding: 10px 20px 10px 20px;
  border-width: 0px;
  font-size: 0.9em;
  text-align: right;
}

.glyphicon {
  color: green;
  font-size: 22px;
  margin-left: 10px;
}

.alert {
  margin-top: 25px;
}

.voted {
  font-size: 16px;
  padding: 3px 0 3px 5px;;
}

.panel-heading {
    background-color: #262626;
    color: orange;
    border-color: #666;
}
.panel-heading:hover {
    background-color: #363636;
}

.panel-title {
  font-size: 1.5em;
  font-family: 'Roboto', sans-serif;
  padding: 5px;
}

.panel {
  background-color: #262626;
  color: white;
  font-family: 'Roboto';
  font-size: 1.3em;
  border: 0;
}

.topic-details {
  font-size: 0.9em;
  color: #888;
}

.thead {
  border-bottom: 0;
}



