
<div>

<div *ngIf="topic" class="panel panel-success voting-panel">
  <div class="panel-heading">
    <h2 class="panel-title">{{ topic.topicTitle }}</h2>
  </div>
  <div class="panel-body">
    <p>Authors: {{ topic.author }}</p>
    <p>Question: {{ topic.topicQuestion }}</p>
    <p>Total Votes: {{ totalVotes }}</p>

  </div>

  <table class="table">
    <thead>
      <tr>
        <th>Option</th>
        <th>Votes</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let result of topic.results">
        <td class="option-cell">{{ result.option }}</td>
        <td>{{ result.votes }}</td>

      </tr>
    </tbody>
  </table>

</div>


<div class="panel panel-success voting-panel">
  <div class="panel-heading">
    <h3 class="panel-title">Cast Your Vote</h3>
  </div>
  <div class="panel-body">
    <div class="btn-group" role="group">
      <button
        *ngFor="let result of topic.results"
        class="btn btn-default"
        value="{{ result.option }}"
        (click)="castVote($event)">
        {{ result.option }}
        </button>
        <div>Has voted: {{hasVoted}}</div>
    </div>
  </div>



</div>
</div>


