<div class="page-wrapper" [@showPage]="'on'" >


  <!-- NAVIGATION SECTION -->

  <section class="nav-wrapper">
    <button (click)="toggleDisplay()" class="btn btn-info control-button">{{ toggleButton }}</button>
    <button class="btn btn-info control-button" [routerLink]="['/home']">Back to Index</button>
    <button
      *ngIf="topic && currentUser === topic.username && view === 'data'"
      class="btn btn-warning control-button"
      (click)="deleteTopic(_id)"
      [@showPage]="'on'">
      Delete topic
    </button>
  </section>


  <!-- RESULTS SECTION -->

  <section class="results-wrapper">
    <div *ngIf="topic && view === 'data'" class="panel" [@showPage]="'on'" >
      <div class="panel-heading">
        <h1 class="panel-title">{{ topic.topicTitle }}
          <span *ngIf="hasVoted">
            <span class="pull-right voted">voted</span>
            <span class="glyphicon glyphicon-ok-sign pull-right" aria-hidden="true"></span>
          </span>
        </h1>
      </div>
      <div class="panel-body">
        <p>{{ topic.topicQuestion }}</p>
        <p class="topic-author">by {{ topic.username  }}</p>
      </div>

      <table>
        <tbody>
          <tr *ngFor="let result of topic.results">
            <td>{{ result.option | titlecase }}</td>
            <td><b>{{ result.votes }}</b></td>
          </tr>
          <tr>
            <td>TOTAL</td>
            <td><b>{{ totalVotes }}</b></td>
          </tr>
        </tbody>
      </table>
    </div>


    <!-- CHART COMPONENT -->

    <app-chart *ngIf="view === 'chart'" [_id]="_id"></app-chart>


    <!-- HELP PANEL -->

    <div *ngIf="!currentUser && view === 'data'" class="alert alert-warning" role="alert" >
      To vote, please <a [routerLink]="['/login/register']">register</a> or <a [routerLink]="['/login']">login</a>.
    </div>
  </section>



  <!-- CAST A VOTE SECTION -->

  <section class="vote-wrapper">
      <div *ngIf="!hasVoted && currentUser && view === 'data'" class="panel">
      <div class="panel-heading">
        <h1 class="panel-title">Vote</h1>
      </div>
      <div class="panel-body">
        <div class="btn-group-vertical" role="group">
          <button
            *ngFor="let result of topic.results"
            class="btn btn-success btn-lg voting-button"
            value="{{ result.option }}"
            (click)="castVote($event)">
            {{ result.option }}
          </button>
        </div>
      </div>
    </div>
  </section>

</div>




