// LAYOUT STYLES

section.nav-wrapper {
  float: left;
  width: 200px;
  margin-top: 30px;
  margin-bottom: 12px;

  .control-button {
    margin: 0 5px 10px 0;
    padding: 10px 20px;
    width: 150px;
  }
}

section.results-wrapper {
  float: left;
  width: 60%;
  max-width: 800px;
}

// clearfix prevents container collapsing due to floated elements
#responsive-container:after {
  content: "";
  display: table;
  clear: both;
}


// RESULTS SECTION STYLES

// heading icon

div.panel-heading:after {
  content: "";
  display: table;
  clear: both;
}

h1.panel-title {
  display: inline-block;
  // border: 1px dotted yellow;
}

div.has-voted-wrapper {
  // display: inline-block;
  // border: 1px dotted yellow;
  float: right;

  span.glyphicon {
    color: green;
    font-size: 22px;
    margin-left: 10px;
    // border: 1px dotted yellow;
    padding: 6px;
  }

  span.voted {
    font-size: 16px;
    padding: 3px 0 3px 5px;
    // border: 1px dotted yellow;
  }
}



// results table

table {
  width: 100%;
}

.thead {
  border-bottom: 0;
}

td:first-child {
  padding: 10px 20px;
  border-width: 0px;
  font-size: 0.9em;
  text-align: left;
}

td:last-child{
  padding: 10px 20px;
  border-width: 0px;
  font-size: 0.9em;
  text-align: right;
}

// ALERT

.alert {
  background-color: rgb(255, 70, 70);
  color: white;
  margin-top: 30px;

  a {
    color: inherit;
    font-weight: bold;
  }
}

// MEDIA QUERIES

@media screen and (max-width: 700px) {
  section.nav-wrapper {
    float: none;
    width: 100%;

    .control-button {
      display: inline-block;
      width: 30%;
      min-width: 130px;
    }
  }

  section.results-wrapper {
    float: none;
    width: 100%;
    // margin: 0 auto !important;
  }

  div.panel {
    width: 100%;
    margin: 0 auto;
  }
}

@media screen and (max-width: 460px) {
  section.nav-wrapper > .control-button {
    display: block;
    width: 100%;
  }
}

