
.voting-panel {
  max-width: 800px;
  margin: 0 auto;
  margin-top: 20px;
}

.cell {
  padding: 10px 0 10px 20px;
  border-color: #777;
  font-size: 0.9em;

}

.btn-default {
  margin-bottom: 5px;
}

.glyphicon {
  color: green;
  font-size: 22px;
  margin-left: 10px;
}

.alert {
  margin-top: 25px;
}

.voted {
  font-size: 16px;
  padding: 3px 0 3px 5px;;
}

.delete-topic-button {
  margin-top: 20px;
}

.topic-wrapper {
  margin-top: 30px;
}

.panel-heading {
    background-color: #262626;
    color: orange;
    border-color: #666;
}
.panel-heading:hover {
    background-color: #363636;
}

.panel-title {
  font-size: 1.5em;
  font-family: 'Roboto', sans-serif;
  padding: 5px;
}

.panel {
  background-color: #262626;
  color: white;
  font-family: 'Roboto';
  font-size: 1.3em;
  border: 0;
}

.topic-details {
  font-size: 0.9em;
  color: #888;
}


