<div (click)="hideDropdown($event)">
  <div>
    <nav class="navbar navbar-default">
      <div class="container">
        <a class="navbar-brand" [routerLink]="['/home']">Votoro</a>

        <ul class="nav navbar-nav" id="nav-menu-left">
          <li><a [routerLink]="['/home']">HOME</a></li>
          <li *ngIf="username"><a [routerLink]="['/home', username]">MY TOPICS</a></li>
          <li *ngIf="username"><a [routerLink]="['/create']">NEW TOPIC</a></li>
          <li><a [routerLink]="['/about']">ABOUT</a></li>
        </ul>

        <!-- Two navbar-right uls - the first will display to the right - Thanks BS -->
        <ul class="nav navbar-nav navbar-right" id="nav-toggle">
          <li><button class="btn btn-default navbar-btn" (click)="toggleDropdown()"><span class="glyphicon glyphicon-menu-hamburger"></span></button></li>
          <li></li>
        </ul>

        <ul class="nav navbar-nav navbar-right" id="nav-menu-right">
          <li *ngIf="!username"><a [routerLink]="['/login/register']">SIGN UP</a></li>
          <li *ngIf="!username"><a [routerLink]="['/login']">LOGIN</a></li>
          <li *ngIf="username"><a>Logged in as <b>{{ username | uppercase }}</b></a></li>
          <li><button *ngIf="username" class="btn btn-default navbar-btn" (click)="logout()">LOGOUT</button></li>
        </ul>

      </div>
    </nav>

    <!-- RESPONSIVE NAV DROPDOWN -->
    <div *ngIf="showDropdown" class="dropdown">
      <ul>
        <li><a [routerLink]="['/home']">HOME</a></li>
        <li *ngIf="username"><a [routerLink]="['/home', username]">MY TOPICS</a></li>
        <li *ngIf="username"><a [routerLink]="['/create']">NEW TOPIC</a></li>
        <li *ngIf="!username"><a [routerLink]="['/login/register']">SIGN UP</a></li>
        <li *ngIf="!username"><a [routerLink]="['/login']">LOGIN</a></li>
        <li *ngIf="username"><a (click)="logout()">LOGOUT</a></li>
        <li><a [routerLink]="['/about']">ABOUT</a></li>
      </ul>
    </div>
  </div>

    <div class="container">
      <router-outlet></router-outlet>
    </div>

</div>






