<div>
  <nav class="navbar navbar-default">
    <div class="container">
      <a class="navbar-brand"><b>votogo </b></a>

        <ul class="nav navbar-nav">
          <li><a [routerLink]="['/home']">HOME</a></li>
          <li *ngIf="username"><a [routerLink]="['/create']">NEW TOPIC</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li *ngIf="!username"><a [routerLink]="['/login/register']">SIGN UP</a></li>
        <li *ngIf="!username"><a [routerLink]="['/login']">LOGIN</a></li>
        <li *ngIf="username"><a>Logged in as <b>{{ username | uppercase }}</b></a></li>
        <button *ngIf="username" class="btn btn-default navbar-btn" (click)="logout()">LOGOUT</button>
      </ul>

    </div>
  </nav>
</div>

    <div class="container" >
      <router-outlet></router-outlet>

    </div>



