<section
  *ngIf="!username"
  class="topic-wrapper "
  [@showPage]="'on'">
    <div class="panel panel-success welcome-panel">
      <div class="panel-heading welcome-panel">
        <h2 class="panel-title">Welcome to Votogo</h2>
      </div>
      <div class="panel-body">
        <p class="info">Votogo is a free voting app which allows users to create, share and view the results of surveys.To view survey results, click on a topic below.</p>
        <p class="info">To vote and create your own topics, please <a [routerLink]="['/login/register']">register</a> or <a [routerLink]="['/login']">login</a>.</p>

      </div>
    </div>
</section>

<section class="search-wrapper"> 
  <div class="input-group">
    <span class="input-group-addon" id="sizing-addon2"><b>Search Topics</b></span>
    <input 
      type="text" 
      class="form-control" 
      [(ngModel)]="listFilter" />
</div>
</section>

<section
  *ngIf="username && isTopicListEmpty"
  class="topic-wrapper "
  [@showPage]="'on'">
    <div class="panel panel-success welcome-panel">
      <div class="panel-heading welcome-panel">
        <h2 class="panel-title">Your Topics</h2>
      </div>
      <div class="panel-body">
        <p class="info">You haven't created any voting topics yet. To get started, go the the 
          <a [routerLink]="['/create']">New Topic</a> page.</p>

      </div>
    </div>
</section>



<section
  *ngFor="let topic of topics | topicFilter:listFilter"
  class="topic-wrapper"
  [@showPage]="'on'">
  <a class="topic" [routerLink]="['/topic', topic._id]">
    <div class="panel panel-success">
      <div class="panel-heading">
        <h3 class="panel-title">{{ topic.topicTitle }}</h3>
      </div>
      <div class="panel-body">
        <p>{{ topic.topicQuestion }}</p>
        <p class="topic-details">by {{ topic.username }}</p>
      </div>
    </div>
    </a>
</section>





