.input-group {
  width: 50%;
}

.input-group-addon,
.search-input {
  height: 40px;
}

.search-wrapper {
  background-color: #262626;
  padding: 15px;
}

a:hover {
  text-decoration: none;
}

.topic-wrapper {
  margin-top: 30px;
}

.panel-heading {
    background-color: #262626;
    color: orange;
    border-color: #666;
}
.panel-heading:hover {
    background-color: #363636;
}

.panel-title {
  font-size: 1.5em;
  font-family: 'Roboto', sans-serif;
  padding: 5px;
}

.panel {
  background-color: #262626;
  color: white;
  font-family: 'Roboto';
  font-size: 1.3em;
  border: 0;
}

.topic-details {
  font-size: 0.9em;
  color: #888;
}

.welcome-panel {
  background-color: #444;
}

.welcome-panel a {
  color: white;
  text-decoration: underline;
}
.welcome-panel:hover {
  background-color: #444;
}

.welcome-panel div {
  padding: 20px;
}

.welcome-panel p {
  line-height: 30px;
  letter-spacing: 1.5px;
}

.welcome-panel h2 {
  font-weight: bold;
  letter-spacing: 2px;
}


