@import '../../variables';

a:hover {
  text-decoration: none;
}

.panel:hover {
  background-color: #363636;
}

// SEARCH SECTION STYLES

.search-wrapper {
  background-color: $darkGrey;
  padding: 15px;
  margin-top: 30px;

  .input-group {
    width: 50%;
  }

  .input-group-addon,
  .search-input {
    height: 40px;
  }
}


// VOTING TOPIC STYLES

.topic-wrapper {
  margin-top: 30px;
}

// INFORMATION PANEL STYLES

.info-panel {
  background-color: #444;
  &:hover {
    background-color: #444;
  }
}

.info-panel div {
  padding: 20px;
}

.info-panel h2 {
  font-weight: bold;
  letter-spacing: 2px;
}

.info-panel p {
  line-height: 30px;
  letter-spacing: 1.5px;
}

.info-panel a {
  color: white;
  text-decoration: underline;
}


// MEDIA QUERIES

@media screen and (max-width: 780px) {
  .search-wrapper > .input-group {
    width: 100%;
  }
}

